@page "/CadastrarPrato"
@rendermode InteractiveServer
@using AppRedRidersBlazor.Models;
@inject PratosDAO pratosDAO
@inject NavigationManager Navigation


<PageTitle>Novo Prato</PageTitle>

<main>
    <div id="container-login">
        <EditForm Model="_novoPrato" OnValidSubmit="Salvar">
            <h2>Novo Prato</h2>
            <div class="container-form-login">
                <label for="Prato-name">Nome:</label><br />
                <input @bind-value="_novoPrato!.nome" type="text" id="Prato-name" name="name..." required />
                <br />
                <label for="Prato-Preco">Preço:</label><br />
                <input @bind-value="_novoPrato!.preco" id="Prato-Preco" type="text" name="preço..." required />
                <br />
                <label for="Prato-Descricao">Descrição:</label><br>
                <textarea @bind="_novoPrato!.descricao" name="Prato-Descricao" id="Cardapio-Descricao" cols="30" rows="10"></textarea>
                
            </div>
            <button type="submit" class="btn-salvar">Cadastrar</button>
            @if (erro is not null)
            {
                <p style="color:red">@erro</p>
            }


        </EditForm>
    </div>

</main>
@code{
    private string? erro = null;

    [SupplyParameterFromForm]
    private Pratos? _novoPrato { get; set; } = new();

    private void Salvar()
    {

        try
        {
            if (_novoPrato.nome is null || _novoPrato.nome == "")
            {
                throw new Exception("O campo nome é obrigatório");
            }

            pratosDAO.Inserir(_novoPrato);

            Navigation.NavigateTo("/MainRestaurante");
        }
        catch (Exception ex)
        {
            erro = ex.Message;
        }


    }
}
