@page "/CadastrarCardapio"


<PageTitle>Novo Cardápio</PageTitle>

<main>
    <div id="container-login">
        <form id="container-form-login">
            <h2>Novo Cardápio</h2>
            <div class="container-form-login">
                <label for="Cardapio-name">Nome:</label><br />
                <input id="Cardapio-name" type="text" name="name" required />
                <br />
                <label for="Cardapio-Descricao">Descrição:</label><br>
                <textarea name="Cardapio-Descricao" id="Cardapio-Descricao" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="Cadastrar" />


        </form>
    </div>

</main>