@page "/TabelaCardapio"
@using AppRedRidersBlazor.Models;
@inject PratosDAO pratosDAO

<PageTitle>Tabela Cardápio</PageTitle>

@* <a id="btn-add-veiculo" href="CadastrarCliente">Novo Cliente</a> *@

<main>
    <div class="container-restaurante">
        <div id="sidebar-entregador"></div>
        <div class="container-main-restaurante">
            <!-- outlet -->
            <section id="lista-corridas">
                <h2>Todos os Pratos</h2>

                <a id="btn-add-veiculo" href="CadastrarPrato">Novo Prato</a>
                <br />
                <br />

                <table id="tabela-historico">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th>Descrição</th>
                            <th>Editar</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var pratos in listaPratos)
                            {
                                <td>@pratos.nome</td>
                                <td>@pratos.preco</td>
                                <td>@pratos.descricao</td>
                                <td><a id="btn-add-veiculo" href="CadastroPrato">Editar </a></td>
                                <td><a id="btn-add-veiculo"> Excluir </a></td>
                                
                            }
                         
                        </tr>
                        
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</main>
@code {
    private List<Pratos> listaPratos = new();





    protected override void OnInitialized()
    {
        CarregarProdutos();
    }

    private void CarregarProdutos()
    {
        listaPratos = pratosDAO.ListarTodos();

    }







}