@page "/MainRestaurante"

<PageTitle>Resturante</PageTitle>

<section class="section type-user">
    <h2 class="title">Escolha como deseja usar a plataforma</h2>

    <div class="options-grid">
        <a href="/GerenciarRestaurante">
            <div class="option-card">
                
                <div class="option-text">
                    <h3>Gerenciar Restaurante</h3>
                   
                </div>
            </div>
        </a>

        <a href="/GerenciarCardapios">
            <div class="option-card">

                <div class="option-text">
                    <h3>Gerenciar cardápios</h3>

                </div>
            </div>
        </a>

        <a href="/Entregas">
            <div class="option-card">

                <div class="option-text">
                    <h3>Gerenciar pedidos de entrega</h3>

                </div>
            </div>
        </a>
        <a href="/Clientes">
            <div class="option-card">

                <div class="option-text">
                    <h3>Gerenciar Clientes</h3>

                </div>
            </div>
        </a>

        <a href="/Historico">
            <div class="option-card">

                <div class="option-text">
                    <h3>Historico de entregas</h3>

                </div>
            </div>
        </a>
    </div>
</section>

@code {

}
