@page "/Entregas"
@using AppRedRidersBlazor.Models;
@inject PedidoDAO pedidoDAO;

<PageTitle>Entregas</PageTitle>

<main>
    <div class="container-restaurante">
        <div id="sidebar"></div>
        <div class="container-main-restaurante">
            <!-- outlet -->
            <div id="container-entregas">
                <h2 id="titulo-entregas">Pedidos de Entregas</h2>  <br /><br />
                <a id="btn-add-veiculo" href="NovoPedido">Novo Pedido</a>
                <br /><br />
                <ul id="lista-entregas">
                 @{
                        int contador = 1;
                     @foreach (var entrega in listaPedido)
                    {
                        <li class="card-entrega">
                            <div class="info-entrega">
                                <h3>Entrega #@contador</h3>
                                <p><strong>Restaurante:</strong> @entrega.nomeRestaurante</p>
                                <p><strong>Nome Cliente:</strong> @entrega.Cliente</p>
                                <p><strong>Preço:</strong> @entrega.PrecoPelaEntrega</p>
                                <p><strong>Status:</strong> Entregado</p>
                            </div>
                            <div class="acoes-entrega">
                                <button class="btn-deletar">X</button>
                                <button class="btn-info">Informações</button>
                            </div>
                        </li>
                            contador++;
                    }
                   
                  }
                    

                  
                </ul>

                <!-- Caso não haja entregas -->
                <!-- <p id="nenhuma-entrega">Nenhuma entrega cadastrada.</p> -->
            </div>
        </div>
    </div>
</main>
@code {
    private List<Pedido> listaPedido = new();


    protected override void OnInitialized()
    {
        CarregarProdutos();
    }

    private void CarregarProdutos()
    {
        listaPedido = pedidoDAO.ListarTodos();
    }
}
