@page "/NovoPedido"
@rendermode InteractiveServer
@using AppRedRidersBlazor.Models;
@inject PedidoDAO pedidoDAO
@inject NavigationManager Navigation

<PageTitle>Novo Pedido</PageTitle>

<main>
    <div id="container-login">
        <EditForm Model="_novoPedido" OnValidSubmit="Salvar">
            <h2>Fazer Pedido</h2>
            <label for="Entrega-Preco">Nome Restaurante:</label>
            <input @bind-value="_novoPedido!.nomeRestaurante" type="text" for="Entrega-Preco" name="Preco" placeholder="Nome..." />

            <label for="Entrega-Preco">Preço Pela Entrega:</label>
            <input @bind-value="_novoPedido!.PrecoPelaEntrega" type="text" for="Entrega-Preco" name="Preco" placeholder="Preço..." />

            <label for="Entrega-Entregar">Onde Entregar:</label>
            <input @bind-value="_novoPedido!.OndeEntregar" type="text" for="Entrega-Entregar" name="Endereço-Entregar" placeholder="Endereço..." />

            <label for="Entrega-Buscar">Onde Buscar:</label>
            <input @bind-value="_novoPedido!.OndeBuscar" type="text" for="Entrega-Buscar" name="Endereço-Buscar" placeholder="Endereço...." />

            <label for="Entrega-Quantidade">Quantidade:</label>
            <input @bind-value="_novoPedido!.Quantidade" type="text" for="Entrega-Quantidade" name="Quantidade" placeholder="Quantidade de Prato..." />

            <label for="Entrega-Descricao">Descrição:</label>
            <input @bind-value="_novoPedido!.Descricao" type="text" for="Entrega-Descricao" name="Descricao" placeholder="Descrever Prato..." />

            <label for="Entrega-Cliente">Cliente:</label>
            <input @bind-value="_novoPedido!.Cliente" type="text" for="Entrega-Cliente" name="Nome-Entrega" placeholder="Nome..." />

            <button type="submit" class="btn-salvar">Cadastrar</button>

            @if (erro is not null)
            {
                <p style="color:red">@erro</p>
            }
        </EditForm>
    </div>

</main>
@code {
    private string? erro = null;

    [SupplyParameterFromForm]
    private Pedido? _novoPedido { get; set; } = new();

    private void Salvar()
    {

        try
        {
            if (_novoPedido.nomeRestaurante is null || _novoPedido.nomeRestaurante == "")
            {
                throw new Exception("O campo nome é obrigatório");
            }

            pedidoDAO.Inserir(_novoPedido);

            Navigation.NavigateTo("/MainRestaurante");
        }
        catch (Exception ex)
        {
            erro = ex.Message;
        }


    }
}
