@page "/NovoPedido"

<PageTitle>Novo Pedido</PageTitle>

<main>
    <div id="container-login">
        <form id="container-form-login">
            <h2>Fazer Pedido</h2>
            <label for="Entrega-Preco">Preço Pela Entrega:</label>
            <input type="text" for="Entrega-Preco" name="Preco" placeholder="Preço..." />

            <label for="Entrega-Entregar">Onde Entregar:</label>
            <input type="text" for="Entrega-Entregar" name="Endereço-Entregar" placeholder="Endereço..." />

            <label for="Entrega-Buscar">Onde Buscar:</label>
            <input type="text" for="Entrega-Buscar" name="Endereço-Buscar" placeholder="Endereço...." />

            <label for="Entrega-Quantidade">Quantidade:</label>
            <input type="text" for="Entrega-Quantidade" name="Quantidade" placeholder="Quantidade de Prato..." />

            <label for="Entrega-Descricao">Descrição:</label>
            <input type="text" for="Entrega-Descricao" name="Descricao" placeholder="Descrever Prato..." />

            <label for="Entrega-Cliente">Cliente:</label>
            <input type="text" for="Entrega-Cliente" name="Nome-Entrega" placeholder="Nome..." />

            <input type="submit" value="Cadastrar" />


        </form>
    </div>

</main>