@page "/CadastrarEntregador"
@rendermode InteractiveServer
@using AppRedRidersBlazor.Models;
@inject EntregadorDAO entregadorDAO
@inject NavigationManager Navigation;


<PageTitle>Cadastrar Veiculo</PageTitle>

<main>
    <div id="container-login">
        <EditForm Model="_novoEntregador" OnValidSubmit="Salvar">
            <h2>Entregador</h2>
            <input @bind-value="_novoEntregador!.Nome" type="text"  name="nome" placeholder="Nome..." />
            <input @bind-value="_novoEntregador!.cpf" type="text"  t" name="CPF" placeholder="cpf..." />
            <input @bind-value ="_novoEntregador!.rg" type="text"  name="RG" placeholder="rg...." />
            <input @bind-value="_novoEntregador!.cnh" type="text"  name="CNH" placeholder="Cnh.." />
            <input @bind-value="_novoEntregador!.telefone" type="text"  name="CNH" placeholder="Cnh.." />
            <input type="text" name="Telefone" placeholder="número.." />
            <button type="submit" class="btn-salvar">Cadastrar</button>

            @if (erro is not null)
            {
                <p style="color:red">@erro</p>
            }
        </EditForm>
    </div>

</main>


@code {
    private string? erro = null;

    [SupplyParameterFromForm]
    private Entregador? _novoEntregador { get; set; } = new();

    private void Salvar()
    {

        try
        {
            if (_novoEntregador.Nome is null || _novoEntregador.Nome == "")
            {
                throw new Exception("O campo nome é obrigatório");
            }

            entregadorDAO.Inserir(_novoEntregador);

            Navigation.NavigateTo("/MainEntregador");
        }
        catch (Exception ex)
        {
            erro = ex.Message;
        }


    }

}
