@page "/CadastrarVeiculo"

<PageTitle>Cadastrar Veiculo</PageTitle>

<main>
    <div id="container-login">
        <form id="container-form-login">
            <h2>Veiculo</h2>
            <input type="text" name="Nome" placeholder="Nome" />
            <input type="text" name="Modelo" placeholder="Modelo" />
            <input type="text" name="Placa" placeholder="senha" />
            <input type="text" name="Marca" placeholder="Marca" />
            <input type="text" name="Cor" placeholder="Cor" />

            <input type="submit" value="Cadastrar" />
            

        </form>
    </div>
</main>

@code {

}
