@page "/CadastrarVeiculo"
@rendermode InteractiveServer
@using AppRedRidersBlazor.Models;
@inject VeiculoDAO veiculoDAO;
@inject NavigationManager Navigation;

<PageTitle>Cadastrar Veiculo</PageTitle>

<main>
    <div id="container-login">
       <EditForm Model="_novoVeiculo" OnValidSubmit="Salvar">
            <h2>Veiculo</h2>
            <input @bind-value="_novoVeiculo!.nome" type="text" class="form-control" name="nome" placeholder="Informe o nome " />
            <input @bind-value="_novoVeiculo!.modelo" type="text" class="form-control" name="Modelo" placeholder="Modelo" />
            <input @bind-value="_novoVeiculo!.placa" type="text" class="form-control" name="Placa" placeholder="senha" />
            <input @bind-value="_novoVeiculo!.marca" type="text" class="form-control" name="Marca" placeholder="Marca" />
            <input @bind-value="_novoVeiculo!.cor" type="text" class="form-control" name="Cor" placeholder="Cor" />
            <input @bind-value="_novoVeiculo!.rotaimg" type="text" class="form-control" name="imagem" placeholder="Link imgem" />
          

            <button type="submit" class="btn-salvar">Cadastrar</button>

            @if (erro is not null)
            {
                <p style="color:red">@erro</p>
            }
        </EditForm>
    </div>
</main>

@code {
    private string? erro = null;

    [SupplyParameterFromForm]
    private Veiculo? _novoVeiculo { get; set; } = new();

    private void Salvar()
    {

        try
        {
            if (_novoVeiculo.nome is null || _novoVeiculo.nome == "")
            {
                throw new Exception("O campo nome é obrigatório");
            }

            veiculoDAO.Inserir(_novoVeiculo);

            Navigation.NavigateTo("/MainEntregador");
        }
        catch (Exception ex)
        {
            erro = ex.Message;
        }


    }

}
