@page "/CadastrarEntregador"

<PageTitle>Cadastrar Veiculo</PageTitle>

<main>
    <div id="container-login">
        <form id="container-form-login">
            <h2>Entregador</h2>
            <input type="text" name="Nome" placeholder="Nome..." />
            <input type="text" name="CPF" placeholder="cpf..." />
            <input type="text" name="RG" placeholder="rg...." />
            <input type="text" name="CNH" placeholder="Cnh.." />
            <input type="text" name="Telefone" placeholder="número.." />

            <input type="submit" value="Cadastrar" />


        </form>
    </div>

</main>


@code {

}
