@page "/MainEntregador"

<PageTitle>Main Entregador</PageTitle>

<section class="section type-user">
    <h2 class="title">Escolha como deseja usar a plataforma</h2>

    <div class="options-grid">
        <a href="/Corridas">
            <div class="option-card">
                
                <div class="option-text">
                    <h3>Ver Corridas Disponíveis</h3>
                    
                </div>
            </div>
        </a>

        <a href="/Veiculos">
            <div class="option-card">

                <div class="option-text">
                    <h3>Ver seus veiculos</h3>

                </div>
            </div>
        </a>
        <a href="/CadastrarEntregador">
            <div class="option-card">

                <div class="option-text">
                    <h3>Cadastrar-se</h3>

                </div>
            </div>
        </a>
    </div>
</section>

@code {

}
