@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <nav id="container-navbar-principal"
             style="background: linear-gradient(90deg, #4b4bb7, #182848)">
            <div class="container-controller logo">
                <img src="https://i.pinimg.com/736x/fb/8a/85/fb8a85c510acf24b270ba506449eff0b.jpg" alt="Logo" /> <!-- Do you know what time it is? -->
                <h2>RedRiders</h2>
            </div>

            <div class="container-controller login">
                <a href="Perfil">
                    <img src="../assets/icons/user.ico"
                         alt="Usuário"
                         style="background-color: #4b4bb7" />
                </a>
                <button onclick="window.location.href='Login'">Login</button>
            </div>
            
        </nav>
        @Body
    </main>
    
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
