<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/navBar.css">
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/typeUser.css" />
    <link rel="stylesheet" href="css/cardapios.css" />
    <link rel="stylesheet" href="css/clientes.css" />
    <link rel="stylesheet" href="css/corridas.css" />
    <link rel="stylesheet" href="css/sidebar.css" />
    <link rel="stylesheet" href="css/restaurante.css">
    <link rel="stylesheet" href="css/navbarRestaurante.css">
    <link rel="stylesheet" href="css/cadastroRestaurante.css">
    <link rel="stylesheet" href="css/entregador.css" />
    <link rel="stylesheet" href="css/entregas.css" />
    <link rel="stylesheet" href="css/feedbacks.css" />
    <link rel="stylesheet" href="css/gerenciarRestaurante.css" />
    <link rel="stylesheet" href="css/historico.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/navbarRestaurante.css" />
    <link rel="stylesheet" href="css/pedidos.css" />
    <link rel="stylesheet" href="css/perfil.css" />
    <link rel="stylesheet" href="css/restaurantes.css" />
    <link rel="stylesheet" href="css/veiculos.css" />

    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="AppRedRidersBlazor.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />



    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="scripts/sidebar.js" defer></script>
</body>

</html>
