@page "/GerenciarRestaurante"
@using AppRedRidersBlazor.Models;
@inject RestauranteDAO restauranteDAO;


<PageTitle>Gerenciar Restaurante</PageTitle>

<div class="nav-controller">
    <div id="navbar-restaurante" style="display: flex"></div>
</div> 
<br />

<a id="btn-add-veiculo" href="CadastroRestaurante">Novo Restaurante </a>
<br />

<!-- outlet-->
<div id="container-gerenciar-restaurantes">
    <h2 id="titulo-gerenciar">Gerenciar Restaurantes</h2>

 

    <ul id="lista-restaurantes">
        @foreach (var restaurante in listaRestaurante)
        {
            <li class="card-restaurante">
                <img src="@restaurante.imagem" alt="Restaurante A" class="img-restaurante" />
                <div class="info-restaurante">
                    <h3>@restaurante.nome</h3>
                    <p>@restaurante.endereco</p>
                </div>
                <div class="acoes-restaurante">
                    <button class="btn-deletar">Deletar</button>
                    <button class="btn-editar" onclick="window.location.href='atualizar-restaurante.html?id=1'">Editar</button>
                </div>
            </li>
        }

      
    </ul>
    
</div>

@code {
    private List<Restaurante> listaRestaurante = new();


    protected override void OnInitialized()
    {
        CarregarProdutos();
    }

    private void CarregarProdutos()
    {
        listaRestaurante = restauranteDAO.ListarTodos();
    }
}
