@page "/CadastrarLogin"

<PageTitle>Cadastrar</PageTitle>

<main>
    <div id="container-login">
        <form id="container-form-login">
            <h2>Cadastrar-se</h2>
            <input type="text" name="email" placeholder="email" />
            <input type="text" name="password" placeholder="senha" />
            <input type="text" name="confirmar password" placeholder="confirmar senha" />

            <input type="submit" value="logar" />

           
        </form>
    </div>
</main>

@code {

}
