@page "/CadastrarLogin"
@rendermode InteractiveServer

@using AppRedRidersBlazor.Models;
@inject LoginDAO loginDAO;
@inject NavigationManager Navigation;

<PageTitle>Cadastrar</PageTitle>

<main>
    <div id="container-login">
        <form id="container-form-login">
            <h2>Cadastrar-se</h2>
            <input type="text" name="email" placeholder="email" />
            <input type="text" name="password" placeholder="senha" />
            <input type="text" name="confirmar password" placeholder="confirmar senha" />

            <button type="submit" class="btn btn-primary">Salvar</button>

           
        </form>
    </div>
</main>

@code {


}
