@page "/Perfil"

<PageTitle>Perfil</PageTitle>



<section id="main-perfil">
    <section id="perfil-container">
        <!-- Foto do entregador -->
        <div id="foto-perfil-container">
            <img src="https://i.pinimg.com/originals/17/c2/2c/17c22c2fcf68ee3fa436c6166623e058.gif"
                 alt="Foto do entregador"
                 id="foto-perfil" />
        </div>
        <div id="controller-info">
            <!-- Informações do entregador -->
            <div id="info-perfil">
                <p><strong>Nome:</strong> Lucas Nascimento Hubner</p>
                <p><strong>CPF:</strong> 123.456.789-00</p>
                <p><strong>CNH:</strong> 987654321</p>
                <p><strong>Telefone:</strong> (69) 99999-9999</p>
                <p><strong>Email:</strong> lucas@email.com</p>
            </div>

            <!-- Botão de editar perfil -->
            <div id="editar-perfil-container">
                <button id="btn-editar-perfil">Editar Perfil</button>
            </div>
        </div>
    </section>
</section>
