@page "/CadastrarCliente"
@rendermode InteractiveServer
@using AppRedRidersBlazor.Models;
@inject ClienteDAO clienteDAO
@inject NavigationManager Navigation

<PageTitle>Novo Cliente</PageTitle>

<main>
    <div id="container-login">
        <EditForm Model="_novoCliente" OnValidSubmit="Salvar">
            <h2>Cliente</h2>
            <label for="Cliente-name">Nome:</label>
            <input @bind-value="_novoCliente!.nome" type="text" for="Cliente-name" name="Nome" placeholder="Nome..." />
         
            <label for="Cliente-Endereco">Endereço:</label>
            <input @bind-value="_novoCliente!.endereco" .nome" type="text" for="Cliente-Endereco" name="Endereço" placeholder="Endereço..." />

            <label for="Cliente-Moradia">Distância Moradia:</label>
            <input @bind-value="_novoCliente!.distanciaMoradia" name="Distância da Moradia" placeholder="Quilometragem...." />

            <label for="Cliente-Pagamento">Forma de pagamento:</label>
            <input @bind-value="_novoCliente!.FormaDePagamento" type="text" for="Cliente-Pagamento" name="Forma de pagamento" placeholder="Pix, Dinheiro ou Cartão.." />
         
            <label for="Cliente-Contado">Forma de contado:</label>
            <input @bind-value="_novoCliente!.FormaDeContato" type="text" for="Cliente-Contato" name="Forma de Contato" placeholder="Telefone ou Email..." />


            <button type="submit" class="btn-salvar">Cadastrar</button>

            @if (erro is not null)
            {
                <p style="color:red">@erro</p>
            }
        </EditForm>
    </div>

</main>
@code {
    private string? erro = null;

    [SupplyParameterFromForm]
    private Cliente? _novoCliente { get; set; } = new();

    private void Salvar()
    {

        try
        {
            if (_novoCliente.nome is null || _novoCliente.nome == "")
            {
                throw new Exception("O campo nome é obrigatório");
            }

            clienteDAO.Inserir(_novoCliente);

            Navigation.NavigateTo("/MainRestaurante");
        }
        catch (Exception ex)
        {
            erro = ex.Message;
        }


    }
}
